<div class="ie-container">
  <div class="ie-header">
    <h1 class="ie-title">
      <span class="text-gradient">Manage Income & Expense</span>
    </h1>

    <div class="button-group">
      <button mat-raised-button class="action-btn income-btn" (click)="openIncomeDialog()">
        <mat-icon>add_circle</mat-icon>
        Income
      </button>

      <button mat-raised-button class="action-btn expense-btn" (click)="openExpenseDialog()">
        <mat-icon>remove_circle</mat-icon>
        Expense
      </button>

      <button mat-raised-button class="action-btn download-btn" (click)="downloadTransactionsPdf()">
        <mat-icon>download</mat-icon>
        Download
      </button>
    </div>
  </div>

  <div class="filter-section">
    <div class="filter-card">
      <div class="filter-left">
        <mat-form-field appearance="outline" class="date-field">
          <mat-select [formControl]="dateFilter" (selectionChange)="onDateFilterChange()">
            <mat-select-trigger>
              {{getDisplayDate()}}
            </mat-select-trigger>
            <mat-option *ngFor="let option of dateOptions" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>
          <mat-date-range-picker #picker (closed)="onDateRangeSelected($event)">
          </mat-date-range-picker>
        </mat-form-field>
        <mat-form-field *ngIf="dateFilter.value === 'custom'" appearance="outline" class="date-range-field">
          <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker (closed)="onDateRangeSelected($event)"></mat-date-range-picker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="category-field">
          <mat-label>Select Category</mat-label>
          <mat-select [formControl]="categoryFilter">
            <mat-option [value]="'all'">All Categories</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
      <button mat-button class="filter-btn" (click)="openFilters()">
        <mat-icon>filter_list</mat-icon>
        More Filters
      </button>
    </div>

    <div class="summary-cards">
      <div class="summary-card income">
        <div class="card-icon">
          <mat-icon>trending_up</mat-icon>
        </div>
        <div class="card-content">
          <h3>Total Income</h3>
          <p class="amount">₹{{ data?.data?.total_income || 0 | number:'1.0-0' }}</p>
        </div>
      </div>

      <div class="summary-card expense">
        <div class="card-icon">
          <mat-icon>trending_down</mat-icon>
        </div>
        <div class="card-content">
          <h3>Total Expense</h3>
          <p class="amount">₹{{ data?.data?.total_expense || 0 | number:'1.0-0' }}</p>
        </div>
      </div>

      <div class="summary-card balance">
        <div class="card-icon">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="card-content">
          <h3>Balance</h3>
          <p class="amount">₹{{ data?.data?.total_amount || 0 | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="table-container">
    <table mat-table [dataSource]="transactions" class="transaction-table">
      <ng-container matColumnDef="entryDate">
        <th mat-header-cell *matHeaderCellDef class="text-left">Entry Date</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{element.expense_date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="text-left">Category</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{ getCategoryValue(element.category_id) }}</td>
      </ng-container>

      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef class="text-left">Transaction Type</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{ element.transaction_type }}</td>
      </ng-container>

      <ng-container matColumnDef="entryBy">
        <th mat-header-cell *matHeaderCellDef class="text-left">Entry By</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{element.expense_by_name}}</td>
      </ng-container>

      <ng-container matColumnDef="paymentMode">
        <th mat-header-cell *matHeaderCellDef class="text-left">Payment Mode</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{getPaymentMethodValue(element.payment_status) }}</td>
      </ng-container>

      <ng-container matColumnDef="refNo">
        <th mat-header-cell *matHeaderCellDef class="text-left">Ref. No.</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{element.reference_no}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-left">Amount</th>
        <td mat-cell *matCellDef="let element" class="text-left">₹{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="gst">
        <th mat-header-cell *matHeaderCellDef class="text-left">GST(%)</th>
        <td mat-cell *matCellDef="let element" class="text-left">{{ element.gst_percentage }}%</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="text-left">Total</th>
        <td mat-cell *matCellDef="let element" class="text-left">₹{{element.total}}</td>
      </ng-container>

      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef class="text-left">Remark</th>
        <td mat-cell *matCellDef="let element" class="text-left">
          <mat-icon *ngIf="element.description"
                    [matTooltip]="element.description"
                    matTooltipPosition="above"
                    class="remark-icon">
            comment
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-left"></th>
        <td mat-cell *matCellDef="let element" class="text-left">
          <button mat-icon-button [matTooltip]="'Delete'" (click)="deleteTransaction(element)">
            <mat-icon class="action-icon">delete</mat-icon>
          </button>
          <button mat-icon-button *ngIf="element.invoice_photo" [matTooltip]="'Download'" (click)="downloadTransaction(element)">
            <mat-icon class="action-icon">download</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="pagination-controls">
      <button mat-button [disabled]="currentPage === 0" (click)="changePage(currentPage-1)">
        <mat-icon>chevron_left</mat-icon> Previous
      </button>
      <span>Page {{currentPage }}</span>
      <button mat-button [disabled]="currentPage === currentPage - 1" (click)="changePage(currentPage + 1)">
        Next <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>



<ng-template #incomeSheet>
  <div class="bottom-sheet-container">
    <div class="sheet-header"style="background-color: #e8e8ee;">
      <h1 class="sheet-title" style="color: black; text-decoration: underline;">Add Income/Deposit</h1>
      <div class="sheet-actions">
        <button mat-raised-button color="primary" class="submit-btn" (click)="submitIncomeForm()">Submit</button>
        <button mat-icon-button (click)="closeSheet()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
<div class="sheet-content">
  <form [formGroup]="incomeForm" class="income-form">
    <div class="form-row">
      <div class="form-group">
        <h3 class="section-title">Category</h3>
        <mat-radio-group formControlName="category" class="category-options">
          <mat-radio-button *ngFor="let category of incomeCategories" [value]="category.id">{{category.category}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-divider"></div>

      <div class="form-group">
        <h3 class="section-title">Income Date</h3>
        <mat-form-field appearance="outline" class="date-field">
          <input matInput [matDatepicker]="picker" formControlName="incomeDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="gst-section">
          <mat-radio-group formControlName="gstType" class="gst-options">
            <mat-radio-button value="with_gst">With GST</mat-radio-button>
            <mat-radio-button value="without_gst">Without GST</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-grid">
          <div class="form-row three-columns" *ngIf="incomeForm.get('gstType')?.value === 'with_gst'">
            <mat-form-field appearance="outline">
              <mat-label>GST(%)</mat-label>
              <input matInput type="number" formControlName="gstPercentage" placeholder="eg. 0, 5, 12, 18, 28">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>GST Number</mat-label>
              <input matInput formControlName="gstNumber" maxlength="15" placeholder="eg. 12ABCD1234E1Z5">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Party Name</mat-label>
              <input matInput formControlName="partyName">
            </mat-form-field>
          </div>

          <div class="form-row" [ngClass]="{'three-columns': incomeForm.get('gstType')?.value === 'with_gst', 'two-columns': incomeForm.get('gstType')?.value === 'without_gst'}">
            <mat-form-field appearance="outline">
              <mat-label>Amount (Excluding GST)</mat-label>
              <input matInput type="number" formControlName="amount" placeholder="eg. 1000, 5000">
              <span matPrefix>₹&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Total</mat-label>
              <input matInput type="number" formControlName="total" readonly>
              <span matPrefix>₹&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="incomeForm.get('gstType')?.value === 'with_gst'">
              <mat-label>HSN/SAC Code</mat-label>
              <input matInput formControlName="hsnCode" placeholder="eg. 1234, 5678">
            </mat-form-field>
          </div>

          <div class="form-row three-columns">
            <mat-form-field appearance="outline">
              <mat-label>Payment Mode</mat-label>
              <mat-select formControlName="paymentMode">

                <mat-option *ngFor="let payment of paymentMethods" [value]="payment.id">{{payment.method_name }}</mat-option>

              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Reference No.</mat-label>
              <input matInput formControlName="referenceNo" placeholder="eg. 11, 21">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Remark</mat-label>
              <input matInput formControlName="remark" placeholder="eg. Rental, Interest">
            </mat-form-field>
          </div>
        </div>

<div class="upload-section">
  <h3 class="section-title">Upload Image</h3>
  <div class="file-upload-container">
    <input type="file"
           #fileInput
           hidden
           accept="image/*"
           (change)="onFileSelected($event)">

    <div class="upload-box" (click)="fileInput.click()">
      <div *ngIf="!selectedFile" class="upload-placeholder">
        <mat-icon>cloud_upload</mat-icon>
        <span>Click to upload image</span>
      </div>
      <div *ngIf="selectedFile" class="selected-file">
        <img [src]="previewUrl" class="image-preview">
        <div class="file-info">
          <span>{{ selectedFile.name }}</span>
          <button mat-icon-button color="warn" (click)="removeFile($event)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </form>
</div>
  </div>
</ng-template>


<ng-template #expenseSheet>
  <div class="bottom-sheet-container">
    <div class="sheet-header" style="background-color: #e8e8ee;">
      <h1 class="sheet-title" style="color: black; text-decoration: underline;" >Add Expense/Withdraw</h1>
      <div class="sheet-actions">
        <button mat-raised-button color="primary" class="submit-btn" (click)="submitExpenseForm()">Submit</button>
        <button mat-icon-button (click)="closeSheet()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="sheet-content">
      <form [formGroup]="expenseForm" class="income-form">
        <div class="form-row">
          <div class="form-group" style="width: 40%;">
            <h3 class="section-title">Category</h3>
            <mat-radio-group formControlName="category" class="category-options">
              <mat-radio-button *ngFor="let category of expenseCategories" [value]="category.id">
              <mat-label> {{ category.category }}</mat-label>
              </mat-radio-button>
            </mat-radio-group>

          </div>

          <div class="form-divider"></div>

          <div class="form-group" style="width: 60%;">
            <h3 class="section-title">Expense Date & Payment Date</h3>
            <div class="dates-container">
              <mat-form-field appearance="outline" class="date-field">
                <mat-label>Expense Date</mat-label>
                <input matInput [matDatepicker]="expensePicker" formControlName="expenseDate">
                <mat-datepicker-toggle matIconSuffix [for]="expensePicker"></mat-datepicker-toggle>
                <mat-datepicker #expensePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="date-field">
                <mat-label>Payment Date</mat-label>
                <input matInput [matDatepicker]="paymentPicker" formControlName="paymentDate">
                <mat-datepicker-toggle matIconSuffix [for]="paymentPicker"></mat-datepicker-toggle>
                <mat-datepicker #paymentPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="gst-section">
              <mat-radio-group formControlName="gstType" class="gst-options">
                <mat-radio-button value="with_gst">With GST</mat-radio-button>
                <mat-radio-button value="without_gst">Without GST</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="form-grid">
              <div class="form-row three-columns" *ngIf="expenseForm.get('gstType')?.value === 'with_gst'">
                <mat-form-field appearance="outline">
                  <mat-label>GST(%)</mat-label>
                  <input matInput type="number" formControlName="gstPercentage" placeholder="eg. 0, 5, 12, 18, 28">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>GST Number</mat-label>
                  <input matInput formControlName="gstNumber" maxlength="15" placeholder="eg. 12ABCD1234E1Z5">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Party Name</mat-label>
                  <input matInput formControlName="partyName">
                </mat-form-field>
              </div>

              <div class="form-row" [ngClass]="{'three-columns': expenseForm.get('gstType')?.value === 'with_gst', 'two-columns': expenseForm.get('gstType')?.value === 'without_gst'}">
                <mat-form-field appearance="outline">
                  <mat-label>Amount (Excluding GST)</mat-label>
                  <input matInput type="number" formControlName="amount" placeholder="eg. 1000, 5000">
                  <span matPrefix>₹&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Total</mat-label>
                  <input matInput type="number" formControlName="total" readonly>
                  <span matPrefix>₹&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="expenseForm.get('gstType')?.value === 'with_gst'">
                  <mat-label>HSN/SAC Code</mat-label>
                  <input matInput formControlName="hsnCode" placeholder="eg. 1234, 5678">
                </mat-form-field>
              </div>

              <div class="form-row three-columns">
                <mat-form-field appearance="outline">
                  <mat-label>Payment Mode</mat-label>
                  <mat-select formControlName="paymentMode">
                    <mat-option *ngFor="let payment of paymentMethods" [value]="payment.id">{{payment.method_name }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Reference No.</mat-label>
                  <input matInput formControlName="referenceNo" placeholder="eg. 11, 21">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Remark</mat-label>
                  <input matInput formControlName="remark" placeholder="eg. Rental, Interest">
                </mat-form-field>
              </div>
            </div>

            <div class="upload-section">
              <h3 class="section-title">Upload Image</h3>
              <div class="file-upload-container">
                <input type="file" #expenseFileInput hidden accept="image/*" (change)="onExpenseFileSelected($event)">

                <div class="upload-box" (click)="expenseFileInput.click()">
                  <div *ngIf="!expenseSelectedFile" class="upload-placeholder">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>Click to upload image</span>
                  </div>
                  <div *ngIf="expenseSelectedFile" class="selected-file">
                    <img [src]="expensePreviewUrl" class="image-preview">
                    <div class="file-info">
                      <span>{{ expenseSelectedFile.name }}</span>
                      <button mat-icon-button color="warn" (click)="removeExpenseFile($event)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #moreFiltersSheet>
  <div class="bottom-sheet-container">
    <div class="sheet-header" style="background-color: #e8e8ee;">
      <h1 class="sheet-title" style="color: black; text-decoration: underline;">More Filters</h1>
      <div class="sheet-actions">
        <button mat-icon-button (click)="closeSheet()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="sheet-content">
      <form [formGroup]="moreFiltersForm" class="more-filters-form">
        <div class="form-grid">
          <mat-form-field appearance="outline">
            <mat-label>Select Staff</mat-label>
            <mat-select formControlName="staff">
              <mat-option *ngFor="let option of staffOptions" [value]="option.value">
                {{option.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Transaction Type</mat-label>
            <mat-select formControlName="transactionType">
              <mat-option *ngFor="let option of transactionTypeOptions" [value]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Payment Mode</mat-label>
            <mat-select formControlName="paymentMode">
              <mat-option [value]="'all'">
                All
              </mat-option>
              <mat-option *ngFor="let option of paymentMethods" [value]="option.id">
                {{option.method_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="filter-actions">
          <button mat-raised-button color="primary" (click)="resetMoreFilters()" class="reset-btn">
            Reset
          </button>
          <button mat-raised-button color="accent" (click)="applyMoreFilters()" class="apply-btn">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
