<div class="prod-swip main-swip">

  <swiper-container class="swiper-container" effect="cube" grab-cursor="true" style="width: 57rem" loop="true"
      autoplay='{"delay": 5000, "speed": 1000}'>


      <swiper-slide>
          <div class="imgbtn">
              <img src="./assets/p1.png" loading="lazy" />

          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="./assets/p2.png" loading="lazy" />
          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="./assets/p1.png" loading="lazy" />

          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="./assets/p2.png" loading="lazy" />

          </div>
      </swiper-slide>


  </swiper-container>

</div>
