<div class="prod-swip main-swip">

  <div class="search-bar">

  </div>

  <swiper-container class="swiper-container" effect="cube" grab-cursor="true" style="width: 57rem" loop="true"
      autoplay='{"delay": 5000, "speed": 1000}'>


      <swiper-slide>
          <div class="imgbtn">
              <img src="../../../../assets/evital-1.webp" loading="lazy" />

          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="../../../../assets/evital-2.webp" loading="lazy" />
          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="../../../../assets/evital-3.webp" loading="lazy" />

          </div>
      </swiper-slide>
      <swiper-slide>
          <div class="imgbtn">
              <img src="../../../../assets/evital-5.png" loading="lazy" />

          </div>
      </swiper-slide>


  </swiper-container>

</div>
