  <mat-toolbar color="primary" class="sticky-toolbar">

    <img src="../../../../assets/image.png" alt="Logo" class="header-logo" (click)="routeThePage('home')">

    <span class="spacer2"></span>

    <div class="header-menu">



        <div  *ngIf="isLoggedIn" (click)="routeThePage('home')">Home</div>



    </div>

    <span class="spacer"></span>

    <button mat-icon-button class="cart-icon" aria-label="Example icon-button with shopping cart icon" (click)="routeThePage('cart')" *ngIf="isLoggedIn">
      <mat-icon matBadge="{{cartItemsCount}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button
    mat-icon-button
    class="profile-icon"
    aria-label="Profile"
    *ngIf="isLoggedIn"  [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
    <!-- <button  mat-icon-button  class="logout-icon"  aria-label="Logout" (click)="logout()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon>
  </button> -->
  <div *ngIf="!isLoggedIn">
    <button
      mat-button
      class="login-button"
      aria-label="Login"
      (click)="routeThePage('login')">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <button
      mat-button
      class="signup-button"
      aria-label="Sign-Up"
      (click)="routeThePage('signup')">
      <mat-icon>person_add</mat-icon>
      Sign-Up
    </button>
  </div>

  </mat-toolbar>

  <mat-menu #menu="matMenu" class="header-menu-option">
    <div mat-menu-item *ngIf="isLoggedIn" (click)="routeThePage('past-orders')">
      <mat-icon>local_shipping</mat-icon>
      <span>Orders</span>
    </div>
    <div mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </div>
  </mat-menu>


