/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.root-body {

  // background-image: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
  // background-image: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
  background-image: linear-gradient(60deg, #6e77a3, #488eb9, #9663af);

  background-size: 600% 600%;
  animation: animated 10s infinite linear;
}

@keyframes animated{
  0%{
      background-position: 0 85%;
  }
  50%{
      background-position: 100% 20%;
  }
  100%{
      background-position: 0% 85%;
  }
}


