<footer>
  <div class="container footer-container">
      <div class="col-3 f-section1">
          <img src="../../../../assets/image.png" alt="Logo">
          <div class="social">
            <small><mat-icon>medical_services</mat-icon></small>
            <small><mat-icon>healing</mat-icon></small>
            <small><mat-icon>local_pharmacy</mat-icon></small>
            <small><mat-icon>health_and_safety</mat-icon></small>


          </div>
          <span class="address">Ahmedabad, Gujarat</span>
      </div>

      <div class="col-3 f-section2">
          <h6>Navigation</h6>
          <ul class="footer-nav nav-section">
              <li>Home</li>
              <li>Order</li>
              <li>About Us</li>

          </ul>
      </div>

      <div class="col-3 f-section3">
        <h6>Get Help</h6>
        <ul class="footer-nav help-section">
          <li>
              <mat-icon>chat</mat-icon> <small>Chat</small>
          </li>
          <li>
              <mat-icon>phone</mat-icon> <small>Call Us</small>
          </li>
          <li>
              <mat-icon>feedback</mat-icon> <small>Feedback</small>
          </li>
          <li>
             <mat-icon>work</mat-icon> <small>Career</small>
          </li>
        </ul>
      </div>
      <div class="col-3 f-section4">
          <h6>Contact</h6>
          <p>Email: evitaldemo&#64;firebase.com</p>
          <p>Phone: +123-456-7890</p>
      </div>
  </div>

  <div class="copyright">
    Note: This is a demo website and not a real one. This website is created for Project-Demo purpose only.
    <br>
      Copyright &#169; 2024 | Devarshi Kathiriya All rights reserved

  </div>

</footer>
