footer {
  margin-top: 250px;
  background: #333333;
  color: white;
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}

footer img {
  width: 250px;
  margin-top: 43px;
  ;
}



footer span, footer h6 {
  display: block;
  margin-top: 25px;
}

footer h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 50px 0 15px;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

footer a:hover {
  color: #488eb9;
}

.f-section1{
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: 2%;
flex-direction: column;
}

.f-section2{
  display: flex;
  justify-content: top;
  align-items: center;
flex-direction: column;
}

.f-section3{
  display: flex;
  justify-content: top;
  align-items: center;
flex-direction: column;
}

.f-section4{
  display: flex;
  justify-content: top;
  align-items: center;
flex-direction: column;
}

.help-section{
  li{
    cursor: pointer;
    display: flex;
    font-size: 16px;
    gap: 10px;
    align-items: center


  }

  li:hover{
    color: #488eb9;
  }


}

.nav-section{
display: flex;
  flex-direction: column;
  align-items: center;

  li{
    cursor: pointer;
    display: flex;
    font-size: 16px;
    gap: 10px;
    align-items: center


  }

  li:hover{
    color: #488eb9;
  }

}






.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-3 {
  flex: 1 1 200px;
  padding: 0 15px;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 13px;

  small:hover{
    color: #488eb9;
  }
}



.copyright {
  text-align: center;
  background-color: #242424;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
}


@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col-3 {
    width: 100%;
    padding: 0;
  }

  .copyright {
    font-size: 11px;
  }
}
